# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
*.log

# Flask
instance/
config.py
*.sqlite3
*.db


# IDEs y editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
